soundfile
hydra-core
plotly
h5py
wandb
einops
pyroomacoustics
librosa
tqdm
pandas
pesq
pystoi
onnxruntime
matplotlib
torchcde
ninja
nara_wpe
numpy==2.2.5
omegaconf==2.3.0
pysofaconventions==0.1.5
python_sofa==0.2.0
scipy==1.15.3
rir_generator
torch_ema
timm
audidata
pytorch_lightning
torchaudio
hydra-joblib-launcher
